@media only screen and (min-width: 32.5em) {
    header, main {
        font-family: "Maven Pro", sans-serif;
        font-size: 1.75em;
        padding: 5px;
        line-height: 1.5em;
         margin: 1.25px auto;
        max-width: 760px;
        border: 5px black;
        border-radius: 15px;
    }
    h1, h2, h3, h4, h5, h6 {
        font-size: 2.5em;
        color: #AC3B61;
        padding: 10px;
        text-align: center;
        line-height: 1.1em;
        font-family: 'Noto Sans JP', sans-serif;
    }
    #headerimage {
      float: right;
    }
    #logo {
        position: relative;
        top: 10px;
        left: 30px;
        width: 310px;
    }
    #pic1 {
        position: relative;
        top: 10px;
        left: 50px;
        width: 310px;
    }
    footer {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
    nav {
        background-color: #EEE2DC;
        padding: 1em;
        margin-top: -90px;
    }
    nav ul {
        float: left;
        margin: 0;
        padding: 0;
        width: 25%;
        background-color: #333;
        height: 100%; /* Full height */
  position: fixed; /* Make it stick, even on scroll */
  overflow: auto; /* Enable scrolling if the sidenav has too much content */
    }
.class nav ul {
    display: flex;
  font-size: 1.2em;
  height: 1em;
  margin: 0;
  position: relative;
}

}

    