/* 35em is also 560px when basefont is 16px */
@media only screen and (min-width: 37.5em) {


}

h3#fiveDayBanner, div.fiveDay #day1, #day2,
#day3, #day4, #day5  {
  display: block;
}

.forecast {
  display: block;
  width: 90%;
  max-width: 850px;
  height: auto;
  margin: 2em auto;
  color: #ebebd3;
}

.forecast h3, .fiveDay {
  text-align: center;
}

.forecast h3 {
  font-size: 1.5rem;
  text-align: center;
  padding: .5em;
  width: 100%;
  margin: .5em auto;
}

.card {
  background-color: #84668a;
  border: 4px solid rgb(46, 19, 44);
  box-shadow: 1px 1px 3px #643266; 
}

.label {
  background-color: #5a215c;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.icon {
  font-size: 3rem;
  text-align: center;
}
.fiveDay {
  display: flex;
}

.card {
  flex: 1;
}

.card span {
  display: block;
  margin: auto;
  padding: 10px;
}
article.contentbox img {
  width: 50%;
  max-width: 450px;
  float: right;
  margin: .5em .5em 2em 2em;
}
div.contactUs {
  display: flex;
}
.map {
  display: float: inline-block;
  max-width: 800px;
  margin: .5em .5em 2em 0;
}

/* nav {
    
background: #fc2105; /* Old browsers */
/*background: -moz-linear-gradient(top,  #fc2105 0%, #8f0222 44%, #aa0000 100%); /* FF3.6-15 */
/*background: -webkit-linear-gradient(top,  #fc2105 0%,#8f0222 44%,#aa0000 100%); /* Chrome10-25,Safari5.1-6 */
/*background: linear-gradient(to bottom,  #fc2105 0%,#8f0222 44%,#aa0000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc2105', endColorstr='#aa0000',GradientType=0 ); /* IE6-9 */

/*}*/

    /*.boxholder{
         color: ;
    }*/

   